.text-over-imge{
  position: absolute;
    padding: 5rem;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
     justify-content: flex-end;
    align-items: flex-start; 
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    /* opacity: 1; */
    transition: opacity .3s;
    color: white;
    
}
body{
  margin: 0;
}